.home-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem; /* Reduced padding to give more space */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box; /* Include padding in the element's total height */
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

h3 {
    font-family: 'Island Moments', sans-serif;
    font-size: 5rem;  /* Reduced font size */
    color: #333;
    margin: 0; /* No margin */
}

h2 {
  font-family: 'Amaranth', sans-serif;
  font-size: 5rem;
  color: #333; /* Adjust this t your color scheme */
  margin: 20px 0;
  line-height: 1.4;
  text-align: left;
  width: 100%;
}

p {
  font-size: large;
  color: #333; /* Adjust this to your color scheme */
  margin: 20px 0;
  line-height: 1.4;
  text-align: left;
  width: 100%;
}

.learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #66ff66;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s;
}

.learn-more-btn:hover {
  background-color: #53cc53; /* Darken on hover */
}
  